<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Favorites</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles.css') }}">
    <!-- Font CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Kanit&display=swap" rel="stylesheet">
</head>
<body>
    <div class="navbar d-flex justify-content-center align-middle">
        <h1 class="fw-bolder movieVault" style="margin-left: 40%;">My Movie Vault</h1>
        <div class="hud d-flex ms-auto">
            
            <span><a href="/logout" class="navbtn me-3">Logout</a></span>

        </div>
    </div>

    <div class="buttons d-flex justify-content-evenly mt-3">
        <span><a href="/queue_list" class="navbtnqueue">My Queue</a></span>
        <span><a href="/random_movie" class="botbtnbig">Get New Movies</a></span>
        <span><a href="/dashboard" class="navbtndash">My Dashboard</a></span>
    </div>

    <h1 class="text-light text-center mt-5 mb-3">My Favorite Movie List:</h1>
    <div class="sort mb-2 justify-content-center d-flex gap-4">
    <a href="/favorite_list/a-z" class="text-decoration-none sortbtn">Sort A-Z</a>
    <a href="/favorite_list" class="text-decoration-none sortbtn">Sort By Most Recent</a>
    <a href="/favorite_list/z-a" class="text-decoration-none sortbtn">Sort Z-A</a>
    </div>


<div class="favlist me-5">
    <ul class="" style="list-style: none;">
        {% for one in favorites: %}
        <div class="titleList d-flex justify-content-center text-center">
            <li class="text-light fs-3 mt-2 text-decoration-underline">{{ one.title }}</li>
        </div>
        <div class="d-flex justify-content-center align-baseline gap-2 mb-2">
            <li>  
                <form id="my_form" action="/add_to_queue" method="post">
                    <input type="hidden" name="movie_id" value="{{ one.movie_id }}">
                    <input type="hidden" name="title" value="{{ one.title }}">
                    
                    <!-- <span class="text-light fs-2"><a href="javascript:{}" onclick="document.getElementById('my_form').submit();" class="listbtnqueue">Add to Queue</a></span>  -->
                    <span class="text-light fs-2"><input type="submit" value="Add to Queue" class="listbtnqueue"></span>
                </form>
            </li>

            <li>
                <span class="text-light fs-2"> | </span><a href="/delete_favorite/{{one.id}}" class="listbtnfav"> Remove From Favorites</a><span class="text-light fs-2"> | </span>
            </li>

            <li>
                <span class="text-light fs-2"><a href="/show_detail/{{ one.movie_id }}" class="listbtn">View Movie Card</a></span>
            </li>

            </div>
        {% endfor %}
    </ul>
</div>

<!-- test button -->
<button onclick="topFunction()" id="myBtn" title="Go to top" class="btn btn-outline-info rounded text-light">Top</button>

    <script src="{{ url_for('static', filename='/script.js') }}"></script>
</body>
</html>