<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Details</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles.css') }}">
    <!-- Font CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Kanit&display=swap" rel="stylesheet">
</head>
<body>
    <div class="navbar d-flex justify-content-center align-middle">
        <h1 class="movieVault fw-bolder" style="margin-left: 40%;">My Movie Vault</h1>
        <div class="hud d-flex ms-auto">
            
            <span><a href="/logout" class="navbtn me-3">Logout</a></span>

        </div>
    </div>

    <div class="buttons d-flex justify-content-evenly mt-3">
        <span><a href="/queue_list" class="navbtnqueue">My Queue</a></span>
        <span><a href="/dashboard" class="botbtndash">My Dashboard</a></span>
        <span><a href="/favorite_list" class="navbtnfav">My Favorites</a></span>
    </div>

    <div id="details">

    </div>




<script src="{{ url_for('static', filename='/movie_detail_script.js') }}"></script>
</body>

</html>